{% extends 'todo/template.html' %}
{% block content %}
<div>
    <div class = "left-panel">
        <div class = "account">
            {% if request.user.is_authenticated %}
                <div>
                    Hi {{ request.user }}
                </div>
                <div>
                    <a href="/logout/">Logout</a>
                </div>
            {% else %}
            <a href="/login/">Login</a>
            <a href="/register/">Register</a>
            {% endif%}
        </div>
        <div class = "search-bar">
            <h3>Filter</h3>
            <form method="GET", action="">
                <select name="type">
                    <option>All</option>
                    <option>Open</option>
                    <option>Closed</option>
                </select>
                <br/>
                <input type="submit", value="Filter">
            </form>
        </div>
        <a href="/notes/note/create/?topic={{ topic.id }}">Create new todo item</a>
    </div>
    <div class = "right-panel">
        {% if todo_items %}
            {% for todo in todo_items %}
                <div class = "todo">
                {% if todo.is_completed %}
                    <a href="/todo/{{ todo.id }}/">{{ todo.name }}[closed]</a>
                {% else %}
                    <a href="/todo/{{ todo.id }}/">{{ todo.name }}</a>
                {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class = "todo">
            No notes for this topic are available.
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}